/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap');

/* -------- END -------- */

/*========== fonts | colors | typography ==========*/

:root {
  --body-font: 'Raleway', sans-serif;

  --color-dark-black: #000;
  --color-dark-gray: #414141;
  --color-green: #77827a;
  --color-green-dark: #596e5f;
  --color-orange: #a45b3a;
  --color-orange-dark: #944826;
  --color-beige: #fffcf9;
  --color-white: #ffffff;
}
/* -------- END -------- */

/* BASE */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

html.lock,
body.lock,
.locker {
  overflow: hidden;
}

body {
  color: var(--color-dark-gray);
  font-family: var(--body-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 24px;
  line-height: 36px;
}

h5 {
  font-size: 20px;
  line-height: 30px;
}

h6 {
  font-size: 16px;
  line-height: 24px;
}

@media (max-width: 1024px) {
  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 28px;
  }
}

/* -------- END -------- */

/* ALL STYLES */

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.overlay.active {
  display: block;
}
/* -------- END -------- */

/* WRAPPER */

.container {
  max-width: 940px;
  margin: 0 auto;
}

.container-xl {
  max-width: 1280px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .container {
    max-width: 100%;
    padding: 0px 40px;
  }
}

/* -------- END -------- */

/* SLIDER */

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex !important;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

.slider__btn-prev {
  width: 20px;
  height: 20px;
  display: block;
  background: url('../images/icons/arrow-left.svg');
  border: none;
  cursor: pointer;
}

.slider__btn-next {
  width: 20px;
  height: 20px;
  display: block;
  background: url('../images/icons/arrow-right.svg');
  border: none;
  cursor: pointer;
}

/* slider content styles */

.custom__slider-img {
  width: 186px;
  height: 265px;
  border-radius: 3px;
  border: 1px solid rgba(4, 43, 70, 0.3);
}

.custom__slider-wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.custom__slider-nav {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 15px;
}

/* -------- END -------- */

/* ACCORDEON */

.accordeon {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.accordeon__list li {
  color: var(--color-dark-black);
  font-size: 16px;
  font-weight: 500;
  list-style: inside;
  padding: 12px 20px;
}

.accordeon__li {
  position: relative;
  background: var(--color-white);
  border-radius: 3px;
}

.accordeon__li > input[type='checkbox'] {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.accordeon__li > input[type='checkbox']:checked ~ .accordeon__toggle {
  max-height: 2500px;
  transition: 4s;
}

.accordeon__btn {
  position: relative;
  min-height: 50px;
  display: flex;
  align-items: center;
  padding: 10.5px 20px;
  font-size: 32px;
  font-weight: 500;
  cursor: pointer;
}

.accordeon__btn::after {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -10px;
  background-image: url('../images/icons/arrow-down.svg');
  background-size: contain;
  transition: 0.3s;
}

.accordeon__li > input[type='checkbox']:checked ~ .accordeon__btn::after {
  transform: rotate(180deg);
}

.accordeon__li > input[type='checkbox']:checked ~ .accordeon__btn {
  color: var(--color-blue);
}

.accordeon__toggle {
  max-height: 0;
  transition: 0.3s;
  overflow: hidden;
}

.accordeon-2__li {
  position: relative;
  border-bottom: 1px solid rgba(4, 43, 70, 0.2);
}

.accordeon-2__li > input[type='checkbox'] {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.accordeon-2__li > input[type='checkbox']:checked ~ .accordeon-2__toggle {
  max-height: 2500px;
  transition: 4s;
}

.accordeon-2__btn {
  position: relative;
  min-height: 50px;
  display: flex;
  align-items: center;
  padding: 10.5px 20px 10.5px 30px;
  font-size: 24px;
  font-weight: 500;
  cursor: pointer;
}

.accordeon-2__btn::after {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -10px;
  background-image: url('../images/icons/plus.svg');
  background-size: contain;
  transition: 0.3s;
}

.accordeon-2__li > input[type='checkbox']:checked ~ .accordeon-2__btn::after {
  transform: rotate(180deg);
  background-image: url('../images/icons/minus.svg');
}

.accordeon-2__li > input[type='checkbox']:checked ~ .accordeon-2__btn {
  color: var(--color-orange);
  font-weight: 500;
}

.accordeon-2__toggle {
  max-height: 0;
  transition: 0.3s;
  overflow: hidden;
}

@media (max-width: 1024px) {
  .accordeon__btn {
    font-size: 24px;
  }

  .accordeon-2__btn {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .accordeon__btn {
    font-size: 17px;
    padding: 9px 60px 9px 20px;
  }

  .accordeon-2__btn {
    font-size: 13px;
    padding: 9px 60px 9px 30px;
  }

  .accordeon__list li {
    font-size: 13px;
  }
}

@media (min-width: 320px) and (max-width: 425px) {
}

/* -------- END -------- */

/* POPUP */

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(41, 41, 41, 0.6);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  z-index: 999;
}

.popup.open {
  opacity: 1;
  visibility: visible;
}

.popup.open .popup__content {
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  opacity: 1;
}

.popup__body {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup__content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1024px;
  padding: 30px;
  margin: 0px 20px;
  text-align: center;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  border-radius: 9px;
  background-color: var(--color-white);
  transition: all 0.8s ease 0s;
  opacity: 0;
  transform: translate(0px, -100%);
}

.popup__close {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  background: url('../images/icons/close-1.svg') center/32px no-repeat;
  transition: all 0.3s ease-in-out;
}

.popup__close:hover {
  background: url('../images/icons/close-2.svg') center/32px no-repeat;
}

/* -------- END -------- */

/* HEADER */

.header {
  position: relative;
  width: 100%;
  padding: 12px 0px 20px 0px;
  z-index: 100;
}

.header-desktop__container {
  display: flex;
  flex-direction: column;
}

.header-tablet__container,
.header-mobile__container {
  display: none;
}

.header__nav-top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 12px;
  border-bottom: 1px solid rgba(65, 65, 65, 0.1);
}

.header__logo {
  display: flex;
  width: 218px;
  height: 72px;
}

.header__contacts {
  display: flex;
  gap: 80px;
}

.header__contacts-col {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.header__contacts-title {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.36px;
  text-transform: uppercase;
  opacity: 0.3;
}

.header__contacts-link {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.header__nav-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 12px;
}

.header__nav {
  display: flex;
}

.header__menu {
  display: flex;
  gap: 42px;
}

.menu__item {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.menu__link {
}

.search__form {
  border: none;
  padding: 0;
}

input[type='search'] {
  width: 216px;
  height: 35px;
  display: flex;
  padding: 7px 0px 7px 44px;
  align-items: center;
  border-radius: 3px;
  border: 1px solid rgba(65, 65, 65, 0.1);
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  background: var(--color-white) url('../images/icons/icon_search.svg')
    no-repeat 16px center;
  cursor: pointer;
}

input[type='search']:hover {
  border: 1px solid rgba(33, 33, 33, 0.1);
}

input[type='search']::placeholder {
  opacity: 0.5;
}

input[type='search']:focus {
  outline: none;
  box-shadow: 0 0 0 1px rgba(33, 33, 33, 0.1);
  background: var(--color-white) url('../images/icons/icon_search-active.svg')
    no-repeat 16px center;
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.socials__link {
  width: 30px;
  height: 30px;
}

@media (max-width: 768px) {
  .header {
    padding: 16px 0px;
  }

  .header-desktop__container {
    display: none;
  }

  .header-tablet__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-tablet__container .header__logo {
    width: 179px;
    height: 60px;
  }

  .header-tablet__container .header__nav-top {
    align-items: center;
    padding: 16px 0px;
    margin: 0px 40px;
  }

  .header-tablet__container .socials {
    margin-right: 90px;
  }

  .header-tablet__nav {
    max-width: 434px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 40px;
    margin: 16px 0px;
  }

  .header-adaptive__menu {
    flex-direction: column;
    gap: 32px;
  }

  .header-tablet__container .header__nav-bottom {
    background: var(--color-beige);
    padding-top: 0px;
  }

  .header-tablet__container .header__contacts {
    padding: 24px 40px;
  }

  .menu__burger {
    display: block;
    position: relative;
    width: 40px;
    height: 25px;
    z-index: 3;
  }

  .menu__burger:before {
    content: '';
    background-color: var(--color-dark-black);
    position: absolute;
    width: 40px;
    height: 3px;
    right: 0;
    border-radius: 5px;
    transition: all 0.3s ease-out;
  }

  .menu__burger:before {
    top: 0;
  }

  .menu__burger:after {
    content: '';
    background-color: var(--color-dark-black);
    position: absolute;
    width: 40px;
    height: 3px;
    right: 0;
    border-radius: 5px;
    transition: all 0.3s ease-out;
  }

  .menu__burger:after {
    bottom: 0;
  }

  .menu__burger span {
    background-color: var(--color-dark-black);
    position: absolute;
    width: 23px;
    height: 3px;
    top: 11px;
    right: 0;
    border-radius: 5px;
    transition: all 0.3s ease-out;
  }

  .menu__burger.active span {
    transform: scale(0);
  }

  .menu__burger.active:before {
    width: 100%;
    transform: rotate(45deg);
    top: 13px;
  }

  .menu__burger.active:after {
    width: 100%;
    transform: rotate(-45deg);
    bottom: 9px;
  }

  .menu__burger.active > span {
    background-color: var(--color-white);
  }

  .header-adaptive__menu.active {
    transform: translateX(0);
  }

  .header-adaptive__menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 420px;
    transform: translateX(110%);
    transition: transform 0.5s;
    z-index: 2;
    background: var(--color-white);
  }

  .header__menu {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 320px) and (max-width: 425px) {
  .header-tablet__container {
    display: none;
  }

  .header-mobile__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-mobile__container .header__logo {
    width: 138px;
    height: 46px;
  }

  .header-mobile__container .header-adaptive__menu {
    height: 100%;
    overflow: auto;
  }

  .header-mobile__container .header__nav-top {
    align-items: center;
    padding: 16px 40px;
  }

  .header-mobile__nav {
    display: flex;
    flex-direction: column;
  }

  .header-mobile__nav .header__menu {
   gap: 0px;
  }

  .header-mobile__nav .header__menu .menu__item {
    padding: 16px 40px 16px 40px;
    border-bottom: 1px solid rgba(65, 65, 65, 0.1);
  }

  .header-mobile__container .header__nav-bottom {
    flex-direction: column;
    align-items: flex-start;
    padding-top: 0px;
    background: var(--color-beige);
  }

  .header-mobile__container .search__form {
    padding: 16px 40px 0px 40px;
  }

  .header-mobile__container .search__form input {
    width: 295px;
  }

  .header-mobile__container .header__contacts {
    flex-direction: column;
    gap: 12px;
    padding: 20px 19px 16px 40px;
  }

  .header-mobile__container .socials-mob {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 16px 51px 16px 40px;
    border-top: 0.3px solid rgba(65, 65, 65, 0.1);
    border-bottom: 0.3px solid rgba(65, 65, 65, 0.1);
  }
}

/* -------- END -------- */

/* FOOTER */

.footer {
  background-color: var(--color-dark-black);
  color: var(--color-white);
  text-align: center;
}

@media (max-width: 1024px) {
}

@media (max-width: 768px) {
}

@media (min-width: 320px) and (max-width: 425px) {
}

/* -------- END -------- */
