/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap');

/* -------- END -------- */

/*========== fonts | colors | typography ==========*/

:root {
  --body-font: 'Raleway', sans-serif;

  --color-dark-black: #000;
  --color-dark-gray: #414141;
  --color-green: #77827a;
  --color-green-dark: #596e5f;
  --color-orange: #a45b3a;
  --color-orange-dark: #944826;
  --color-beige: #fffcf9;
  --color-white: #ffffff;
}
/* -------- END -------- */

/* BASE */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

html.lock,
body.lock,
.locker {
  overflow: hidden;
}

body {
  color: var(--color-dark-gray);
  font-family: var(--body-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-variant-numeric: lining-nums proportional-nums;
}

ol li::marker {
  font-variant-numeric: lining-nums proportional-nums;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 24px;
  line-height: 36px;
}

h5 {
  font-size: 20px;
  line-height: 30px;
}

h6 {
  font-size: 16px;
  line-height: 24px;
}

/* -------- END -------- */

/* ALL STYLES */

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.body-bg {
  background: var(--color-beige);
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.overlay.active {
  display: block;
}

/* -------- END -------- */

/* BUTTONS */

.btn__link {
  display: flex;
  padding: 20px 52px;
  justify-content: center;
  align-items: center;
  border-radius: 59px;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.48px;
  text-transform: uppercase;
  text-align: center;
}

.btn-main {
  background: var(--color-beige);
  color: var(--color-dark-gray);
  transition: all 0.3s ease-in;
}

.btn-second {
  background: var(--color-orange);
  color: var(--color-beige);
  transition: all 0.3s ease-in;
}

.btn-second:hover {
  background: var(--color-orange-dark);
}

.btn-main:hover {
  background: #f3eae0;
}

.btn-main:focus {
  outline: none;
  box-shadow: 0 0 0 1px #e8d4bf;
}

.btn-show {
  cursor: pointer;
}

.btn-show__cards {
  border: none;
  background: none;
  cursor: pointer;
}

.btn-show__programm {
  height: fit-content;
  border: none;
  background: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .btn-main:hover {
    background: #596e5f;
  }

  .btn-main:focus {
    outline: none;
    box-shadow: 0 0 0 1px #3c5443;
  }
}

@media (min-width: 320px) and (max-width: 425px) {
}

/* -------- END -------- */

/* WRAPPER */

.container {
  max-width: 940px;
  margin: 0 auto;
}

.container-xl {
  max-width: 1280px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .container {
    max-width: 100%;
    padding: 0px 40px;
  }
}

/* -------- END -------- */

/* SLIDER BASE STYLES*/

.swiper {
  width: 100%;
  height: 100%;
}

.slider__wrapper {
  position: relative;
}

.swiper-pagination {
  max-width: 50%;
  margin: 0 auto;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  content: none !important;
}

/* -------- END -------- */

/* ACCORDEON */

.accordeon {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.accordeon__list li {
  color: var(--color-dark-black);
  font-size: 16px;
  font-weight: 500;
  list-style: inside;
  padding: 12px 20px;
}

.accordeon__li {
  position: relative;
  background: var(--color-white);
  border-radius: 3px;
}

.accordeon__li > input[type='checkbox'] {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.accordeon__li > input[type='checkbox']:checked ~ .accordeon__toggle {
  max-height: 2500px;
  transition: 4s;
}

.accordeon__btn {
  position: relative;
  min-height: 50px;
  display: flex;
  align-items: center;
  padding: 10.5px 20px;
  font-size: 32px;
  font-weight: 500;
  cursor: pointer;
}

.accordeon__btn::after {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -10px;
  background-image: url('../images/icons/arrow-down.svg');
  background-size: contain;
  transition: 0.3s;
}

.accordeon__li > input[type='checkbox']:checked ~ .accordeon__btn::after {
  transform: rotate(180deg);
}

.accordeon__li > input[type='checkbox']:checked ~ .accordeon__btn {
  color: var(--color-blue);
}

.accordeon__toggle {
  max-height: 0;
  transition: 0.3s;
  overflow: hidden;
}

.accordeon-2__li {
  position: relative;
  border-bottom: 1px solid rgba(4, 43, 70, 0.2);
}

.accordeon-2__li > input[type='checkbox'] {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.accordeon-2__li > input[type='checkbox']:checked ~ .accordeon-2__toggle {
  max-height: 2500px;
  transition: 4s;
}

.accordeon-2__btn {
  position: relative;
  min-height: 50px;
  display: flex;
  align-items: center;
  padding: 10.5px 20px 10.5px 30px;
  font-size: 24px;
  font-weight: 500;
  cursor: pointer;
}

.accordeon-2__btn::after {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -10px;
  background-image: url('../images/icons/plus.svg');
  background-size: contain;
  transition: 0.3s;
}

.accordeon-2__li > input[type='checkbox']:checked ~ .accordeon-2__btn::after {
  transform: rotate(180deg);
  background-image: url('../images/icons/minus.svg');
}

.accordeon-2__li > input[type='checkbox']:checked ~ .accordeon-2__btn {
  color: var(--color-orange);
  font-weight: 500;
}

.accordeon-2__toggle {
  max-height: 0;
  transition: 0.3s;
  overflow: hidden;
}

@media (max-width: 1024px) {
  .accordeon__btn {
    font-size: 24px;
  }

  .accordeon-2__btn {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .accordeon__btn {
    font-size: 17px;
    padding: 9px 60px 9px 20px;
  }

  .accordeon-2__btn {
    font-size: 13px;
    padding: 9px 60px 9px 30px;
  }

  .accordeon__list li {
    font-size: 13px;
  }
}

@media (min-width: 320px) and (max-width: 425px) {
}

/* -------- END -------- */

/* PAGINATION */

.pagination {
  display: flex;
  align-items: center;
  gap: 17px;
  margin-top: -20px;
}

.pagination button {
  font-variant-numeric: lining-nums proportional-nums;
  font-family: var(--body-font);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px; /* 150% */
  background: none;
  cursor: pointer;
  border: none;
}

.hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.pagination button.active {
  color: var(--color-orange);
}

/* POPUP */

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(41, 41, 41, 0.6);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  z-index: 999;
}

.popup.open {
  opacity: 1;
  visibility: visible;
}

.popup.open .popup__content {
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  opacity: 1;
}

.popup__body {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup__content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 620px;
  width: 100%;
  height: 580px;
  padding: 70px 73px 70px 72px;
  text-align: center;
  border-radius: 10px;
  background-color: var(--color-white);
  transition: all 0.8s ease 0s;
  opacity: 0;
  transform: translate(0px, -100%);
}

#popup-correct .popup__content,
#popup-wrong .popup__content {
  height: 340px;
}

#popup-order .popup__btn {
  background: var(--color-orange);
}

#popup-order .popup__btn:hover {
  background: var(--color-orange-dark);
}

.popup__icon {
  margin-top: 32px;
}

.popup__close {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 40px;
  height: 40px;
  background: url('../images/icons/icon_close.svg') center/32px no-repeat;
  transition: all 0.3s ease-in-out;
}

.popup__wrapper-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.popup__title {
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px; /* 150% */
  text-align: center;
}

.popup__subtitle {
  max-width: 378px;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 150% */
  text-align: center;
}

.popup__form {
  display: flex;
  flex-direction: column;
}

.popup__inputs {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 40px 0px 20px 0px;
}

.popup__inputs input {
  padding: 20px 40px;
  border-radius: 75px;
  font-family: 'Raleway', sans-serif;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: var(--color-white);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.popup__inputs input:hover {
  border: 1px solid rgba(33, 33, 33, 0.1);
}

.popup__inputs input::placeholder {
  opacity: 0.5;
}

.popup__inputs input:focus {
  outline: none;
  box-shadow: 0 0 0 1px rgba(33, 33, 33, 0.1);
}

.popup__btn {
  display: flex;
  width: 100%;
  padding: 20px 0px;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.48px;
  text-transform: uppercase;
  border-radius: 75px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: var(--color-green);
  color: var(--color-white);
  transition: all 0.3s ease-in;
  cursor: pointer;
}

.popup__btn:hover {
  background: #596e5f;
}

.popup__btn:focus {
  outline: none;
  box-shadow: 0 0 0 1px #3c5443;
}

.popup__container-checkbox {
  display: block;
  position: relative;
  padding-left: 24px;
  margin-top: 12px;
  cursor: pointer;
  font-size: 12px;
  text-align: left;
  color: rgba(65, 65, 65, 0.3);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.popup__container-checkbox input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 12px;
  width: 12px;
  border-radius: 3px;
  border: 1px solid rgba(30, 40, 57, 0.1);
  transition: all 0.3s ease;
}

#popup-order .popup__container-checkbox:hover input ~ .checkmark {
  background-color: var(--color-orange-dark);
}

#popup-question .popup__container-checkbox:hover input ~ .checkmark {
  background-color: var(--color-green-dark);
}

#popup-order .popup__container-checkbox input:checked ~ .checkmark {
  background-color: var(--color-orange) !important;
}

#popup-question .popup__container-checkbox input:checked ~ .checkmark {
  background-color: var(--color-green) !important;
}

.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

.popup__container-checkbox input:checked ~ .checkmark:after {
  display: block;
}

.popup__container-checkbox .checkmark:after {
  left: 3px;
  top: 1px;
  width: 2px;
  height: 5px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

@media (max-width: 768px) {
}

@media (min-width: 320px) and (max-width: 425px) {
  .popup__content {
    max-width: 295px;
    height: 568px;
    padding: 72px 9px;
  }

  .popup__wrapper-text {
    gap: 12px;
  }

  .popup__title {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
  }

  .popup__subtitle {
    max-width: 267px;
  }

  .popup__inputs {
    gap: 8px;
    margin: 20px 0px 12px 0px;
  }

  #popup-correct .popup__content,
  #popup-wrong .popup__content {
    height: 366px;
  }

  .popup__icon {
    margin-top: 24px;
  }

  #popup-order .popup__container-checkbox:hover input ~ .checkmark {
    background-color: inherit;
  }

  #popup-question .popup__container-checkbox:hover input ~ .checkmark {
    background-color: inherit;
  }
}

/* -------- END -------- */

/* HEADER */

.header {
  position: relative;
  width: 100%;
  padding: 12px 0px 20px 0px;
  z-index: 100;
}

.header-desktop__container {
  display: flex;
  flex-direction: column;
}

.header-tablet__container,
.header-mobile__container {
  display: none;
}

.header__nav-top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 12px;
  border-bottom: 1px solid rgba(65, 65, 65, 0.1);
}

.header__logo {
  display: flex;
  width: 218px;
  height: 72px;
}

.header__contacts {
  display: flex;
  gap: 80px;
}

.header__contacts-col {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.header__contacts-title {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.36px;
  text-transform: uppercase;
  opacity: 0.3;
}

.header__contacts-link {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.header__nav-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 12px;
}

.header__nav {
  display: flex;
}

.header__menu {
  display: flex;
  gap: 42px;
}

.menu__item {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.menu__link--active {
  color: var(--color-orange);
}

.search__form {
  border: none;
  padding: 0;
}

input[type='search'] {
  width: 216px;
  height: 35px;
  display: flex;
  padding: 7px 0px 7px 44px;
  align-items: center;
  border-radius: 3px;
  border: 1px solid rgba(65, 65, 65, 0.1);
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  background: var(--color-white) url('../images/icons/icon_search.svg')
    no-repeat 16px center;
  cursor: pointer;
}

input[type='search']:hover {
  border: 1px solid rgba(33, 33, 33, 0.1);
}

input[type='search']::placeholder {
  opacity: 0.5;
}

input[type='search']:focus {
  outline: none;
  box-shadow: 0 0 0 1px rgba(33, 33, 33, 0.1);
  background: var(--color-white) url('../images/icons/icon_search-active.svg')
    no-repeat 16px center;
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.socials__link {
  width: 30px;
  height: 30px;
}

@media (max-width: 768px) {
  .header {
    padding: 16px 0px;
  }

  .header-desktop__container {
    display: none;
  }

  .header-tablet__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-tablet__container .header__logo {
    width: 179px;
    height: 60px;
  }

  .header-tablet__container .header__nav-top {
    align-items: center;
    padding: 16px 0px;
    margin: 0px 40px;
  }

  .header-tablet__container .socials {
    margin-right: 90px;
  }

  .header-tablet__nav {
    max-width: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .header-adaptive__menu {
    flex-direction: column;
    gap: 32px;
  }

  .header-tablet__container .header__nav-bottom {
    background: var(--color-beige);
    border-top: 1px solid rgba(65, 65, 65, 0.1);
    padding-top: 0px;
  }

  .header-tablet__container .header__contacts {
    padding: 24px 40px;
  }

  .menu__burger {
    display: block;
    position: relative;
    width: 40px;
    height: 25px;
    z-index: 3;
  }

  .menu__burger:before {
    content: '';
    background-color: var(--color-dark-black);
    position: absolute;
    width: 40px;
    height: 3px;
    right: 0;
    border-radius: 5px;
    transition: all 0.3s ease-out;
  }

  .menu__burger:before {
    top: 0;
  }

  .menu__burger:after {
    content: '';
    background-color: var(--color-dark-black);
    position: absolute;
    width: 40px;
    height: 3px;
    right: 0;
    border-radius: 5px;
    transition: all 0.3s ease-out;
  }

  .menu__burger:after {
    bottom: 0;
  }

  .menu__burger span {
    background-color: var(--color-dark-black);
    position: absolute;
    width: 23px;
    height: 3px;
    top: 11px;
    right: 0;
    border-radius: 5px;
    transition: all 0.3s ease-out;
  }

  .menu__burger.active span {
    transform: scale(0);
  }

  .menu__burger.active:before {
    width: 100%;
    transform: rotate(45deg);
    top: 13px;
  }

  .menu__burger.active:after {
    width: 100%;
    transform: rotate(-45deg);
    bottom: 9px;
  }

  .menu__burger.active > span {
    background-color: var(--color-white);
  }

  .header-adaptive__menu.active {
    transform: translateX(0);
  }

  .header-adaptive__menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 420px;
    transform: translateX(110%);
    transition: transform 0.5s;
    z-index: 2;
    background: var(--color-white);
  }

  .header__menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0px;
  }

  .menu__item {
    width: 100%;
    padding: 16px 0px;
    border-bottom: 1px solid rgba(65, 65, 65, 0.1);
  }

  .header-tablet__nav .header__menu:nth-child(1) .menu__item:last-child {
    border-bottom: none;
  }

  .header-tablet__nav .header__menu:nth-child(1) .menu__item a {
    margin-left: 40px;
  }
}

@media (min-width: 320px) and (max-width: 425px) {
  .header-tablet__container {
    display: none;
  }

  .header-mobile__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-mobile__container .header__logo {
    width: 138px;
    height: 46px;
  }

  .header-mobile__container .header-adaptive__menu {
    height: 100%;
    overflow: auto;
  }

  .header-mobile__container .header__nav-top {
    align-items: center;
    padding: 16px 40px;
  }

  .header-mobile__nav {
    display: flex;
    flex-direction: column;
  }

  .header-mobile__nav .header__menu {
    gap: 0px;
  }

  .header-mobile__nav .header__menu .menu__item {
    padding: 16px 40px 16px 40px;
    border-bottom: 1px solid rgba(65, 65, 65, 0.1);
  }

  .header-mobile__container .header__nav-bottom {
    flex-direction: column;
    align-items: flex-start;
    padding-top: 0px;
    background: var(--color-beige);
  }

  .header-mobile__container .search__form {
    padding: 16px 40px 0px 40px;
  }

  .header-mobile__container .search__form input {
    width: 295px;
  }

  .header-mobile__container .header__contacts {
    flex-direction: column;
    gap: 12px;
    padding: 20px 19px 16px 40px;
  }

  .header-mobile__container .socials-mob {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 16px 51px 16px 40px;
    border-top: 0.3px solid rgba(65, 65, 65, 0.1);
    border-bottom: 0.3px solid rgba(65, 65, 65, 0.1);
  }
}

/* -------- END -------- */

/* FOOTER */

.footer {
  color: var(--color-dark-gray);
}

.footer__top {
  display: flex;
  align-items: flex-start;
  gap: 82px;
  padding: 40px 0px;
  border-top: 1px solid rgba(65, 65, 65, 0.1);
  border-bottom: 1px solid rgba(65, 65, 65, 0.1);
}

.footer__logo {
  min-width: max-content;
  height: 72px;
}

.footer__nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.footer__nav-col {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footer__nav-title {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
}

.footer__nav-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer__list-link {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.footer__nav-contacts {
  display: flex;
  flex-direction: column;
  gap: 32px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.footer__phones {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer__address {
  font-style: normal;
}

.footer__socials {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.footer__bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px 0px;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

.footer__policy {
  color: var(--color-orange);
}

.footer__company a {
  display: flex;
  align-items: center;
  gap: 12px;
}

.footer__company img {
  width: 28px;
  height: 27px;
}

@media (max-width: 768px) {
  .footer__top {
    flex-direction: column;
    gap: 40px;
    padding: 40px;
  }

  .footer__container {
    padding: 0px;
  }

  .footer__bottom {
    padding: 0px 40px;
  }
}

@media (min-width: 320px) and (max-width: 425px) {
  .footer__top {
    padding: 32px 36px 32px 40px;
    gap: 32px;
  }

  .footer__logo {
    align-self: center;
  }

  .footer__nav {
    flex-wrap: wrap;
    row-gap: 32px;
  }

  .footer__nav-title {
    font-size: 16px;
    line-height: 24px;
  }

  .footer__list-link {
    font-size: 14px;
    line-height: 21px;
  }

  .footer__nav-contacts {
    gap: 20px;
    font-size: 14px;
    line-height: 21px;
  }

  .footer__nav-col {
    gap: 20px;
  }
  .footer__nav-col:nth-child(3) {
    width: 100%;
  }

  .footer__nav-col:nth-child(3) .footer__nav-title {
    position: absolute;
    transform: scale(0);
  }

  .footer__socials {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .footer__bottom {
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 24px;
    margin: 32px 0px 20px 0px;
  }
}

/* -------- END -------- */

/* PREVIEW */

.preview-slider__pagination {
  position: initial !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.preview-slider__pagination .swiper-pagination-bullet {
  background: var(--color-white) !important;
  opacity: 1 !important;
}

.preview-slider__pagination .swiper-pagination-bullet-active {
  background: url('../images/icons/icon_pagination-active.svg') !important;
  height: 14px !important;
  width: 14px !important;
}

.preview-slider__btn-next {
  width: 24px !important;
  height: 24px !important;
  display: block;
  margin-top: -12px !important;
  background: url('../images/icons/icon_arrow_active.svg');
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}

.preview-slider__btn-prev {
  width: 24px !important;
  height: 24px !important;
  display: block;
  margin-top: -12px !important;
  background: url('../images/icons/icon_arrow_active.svg');
  background-size: contain;
  background-repeat: no-repeat;
  transform: rotate(180deg);
  border: none;
  cursor: pointer;
}

.preview-slider__btn-prev .swiper-button-disabled {
  background: url('../images/icons/icon_arrow_disable.svg') !important;
}

.preview-slider__btn-next .swiper-button-disabled {
  background: url('../images/icons/icon_arrow_disable.svg') !important;
}

.preview__slider {
  max-width: 1280px;
  height: 706px;
}

.preview__slider-nav {
  position: absolute;
  max-width: 222px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  bottom: 24px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.preview__slide {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.preview__inner {
  max-width: 869px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 94px;
  gap: 20px;
}

.preview__title {
  color: var(--color-white);
  font-size: 48px;
  font-weight: 400;
  text-align: center;
}

.preview__img {
  position: absolute;
  top: 0;
  display: flex;
  z-index: -1;
}

@media (max-width: 1024px) {
  .preview__slider {
    height: 566px;
  }
}

@media (max-width: 768px) {
  .preview-slider__pagination
    .swiper-pagination-bullet:not(
      .preview-slider__pagination .swiper-pagination-bullet-active
    ) {
    background-color: var(--color-dark-gray) !important;
  }

  .preview-slider__btn-next {
    background: url('../images/icons/icon_arrow_right_active_black.svg');
  }

  .preview-slider__btn-prev {
    background: url('../images/icons/icon_arrow_right_active_black.svg');
  }

  .preview-slider__btn-prev .swiper-button-disabled {
    background: url('../images/icons/icon_arrow_disable.svg') !important;
  }

  .preview-slider__btn-next .swiper-button-disabled {
    background: url('../images/icons/icon_arrow_disable.svg') !important;
  }

  .preview__slider {
    height: 712px;
  }

  .preview__inner {
    margin-top: 40px;
  }

  .preview__title {
    color: var(--color-dark-gray);
  }

  .btn-main {
    background: var(--color-green);
    color: var(--color-white);
  }

  .preview__img {
    position: initial;
    width: 100%;
  }

  .preview__img img {
    width: 100%;
  }

  .preview__slider-nav {
    bottom: 0px;
  }
}

@media (min-width: 320px) and (max-width: 425px) {
  .preview__slider {
    height: 450px;
  }

  .preview__inner {
    margin-top: 24px;
  }

  .preview__title {
    font-size: 24px;
    line-height: 36px;
  }

  .preview__slider-nav {
    max-width: 294px;
    width: 100%;
  }
}

/* -------- END -------- */

/* SERVICES */

.services {
  margin-top: 100px;
}

.services__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.services__card {
  width: 100%;
  max-width: 300px;
  padding: 41px 18px;
  border-radius: 13px;
  border: 1px solid rgba(164, 91, 58, 0.1);
  background: var(--color-white);
}

.services__card-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.services__card-img {
  width: 40px;
  height: 40px;
}

.services__card-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.services__card-title {
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  text-align: center;
}

.services__card-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
}

.services__card:nth-child(1) .services__card-text {
  max-width: 200px;
  width: 100%;
}

.services__card:nth-child(2) .services__card-text {
  max-width: 250px;
  width: 100%;
}

.services__card:nth-child(3) .services__card-text {
  max-width: 240px;
  width: 100%;
}

@media (max-width: 768px) {
  .services__card {
    max-width: 210px;
    padding: 32px 24px 32px 25px;
    border-radius: 10px;
  }

  .services__card:nth-child(3) {
    padding: 32px 13px 32px 14px;
  }

  .services__cards {
    gap: 17px;
  }

  .services__card-title {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.48px;
  }

  .services__card-text {
    font-size: 12px;
    line-height: 18px;
  }

  .services__card:nth-child(1) .services__card-text {
    max-width: 100px;
  }

  .services__card:nth-child(2) .services__card-text {
    max-width: 170px;
  }

  .wrap-hidden {
    display: block !important;
  }
}

@media (min-width: 320px) and (max-width: 425px) {
  .services {
    margin-top: 60px;
  }

  .services__cards {
    gap: 12px;
  }

  .services__card,
  .services__card:nth-child(3) {
    max-width: 100%;
    padding: 34px 0px 35px 0px;
  }

  .services__card-title {
    font-size: 20px;
    line-height: 30px;
  }

  .services__card-text {
    font-size: 14px;
    line-height: 21px;
  }

  .services__card:nth-child(1) .services__card-text {
    max-width: 200px;
  }

  .services__card:nth-child(2) .services__card-text {
    max-width: 250px;
  }

  .wrap-hidden {
    display: none !important;
  }
}

/* END */

/* TOURS */

.tours {
  margin-top: 100px;
}

.tours__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tours__bg {
  max-width: 1280px;
  width: 100%;
  display: flex;
}

.tours__bg img {
  width: 100%;
}

.tours__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  margin-top: -185px;
}

.tours__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.tours__title {
  color: var(--color-white);
}

.tours__cards {
  max-width: 940px;
  display: flex;
  gap: 20px;
}

.tours__card {
  max-width: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  background: var(--color-white);
}

.tours__card img {
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
}

.tours__card-inner {
  padding: 20px;
  border: 1px solid rgba(65, 65, 65, 0.1);
  border-top: none;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.tours__card-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tours__card-top span {
  width: fit-content;
}

.tours__card-location {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.48px;
  text-transform: uppercase;
  opacity: 0.3;
}

.tours__card-date {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  opacity: 0.3;
}

.tours__card-middle {
  height: 48px;
  margin-top: 12px;
  margin-bottom: 16px;
}

.tours__card-name {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.tours__card-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tours__card-bottom span,
.tours__card-bottom a {
  width: fit-content;
}

.tours__card-price {
  color: var(--color-orange);
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
}

.tours__link {
  color: var(--color-orange);
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  text-decoration-line: underline;
  transition: color 0.3s ease-in;
  cursor: pointer;
}

.tours__link:hover {
  color: var(--color-orange-dark);
}

.tours__nav-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.card-hidden,
.programm-hidden,
.text-hidden,
.tours__card--hidden {
  position: absolute;
  transform: scale(0);
}

.wrap-hidden {
  display: none;
}

/* TOURS PAGE */

.tours-page .tours__wrapper {
  gap: 40px;
}

.tours-page .tours__cards {
  flex-wrap: wrap;
  justify-content: center;
}

@media (max-width: 768px) {
  .tours__cards {
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
  }

  .tours__inner {
    gap: 32px;
  }

  .tours__card--hidden {
    position: initial;
    transform: scale(1);
  }
}

@media (min-width: 320px) and (max-width: 425px) {
  .tours {
    margin-top: 60px;
  }

  .tours__wrapper {
    margin-top: -105px;
  }

  .tours__title {
    font-size: 24px;
    line-height: 36px;
  }

  .tours__cards {
    gap: 12px;
  }
}

/* END */

/* ABOUT */

.about {
  margin-top: 100px;
}

.about__wrapper {
  max-width: 940px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.about__img {
  max-width: 460px;
  width: 100%;
  height: 424px;
  background: #d9d9d9;
}

.about__inner {
  max-width: 460px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.about__inner-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about__title {
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
}

.about__text {
  max-width: 457px;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

@media (max-width: 768px) {
  .about__wrapper {
    flex-direction: column-reverse;
    gap: 40px;
  }

  .about__inner {
    max-width: 100%;
    gap: 20px;
  }

  .about__text {
    max-width: 100%;
  }

  .about__img {
    max-width: 664px;
    height: 611px;
  }
}

@media (min-width: 320px) and (max-width: 425px) {
  .about {
    margin-top: 60px;
  }

  .about__wrapper {
    flex-direction: column;
    gap: 20px;
  }

  .about__img {
    max-width: 295px;
    height: 271px;
  }
}

/* END */

/* FEEDBACK */

.feedback {
  position: relative;
  height: 708px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.feedback__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.feedback__desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.feedback__title {
  color: var(--color-white);
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

.feedback__contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.feedback__address {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  color: var(--color-white);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
  text-align: center;
}

.feedback__contacts-title {
  color: var(--color-white);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.48px;
  text-transform: uppercase;
  opacity: 0.6;
}

.feedback__phones {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.feedback__phones a {
  color: var(--color-white);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
}

.feedback__phones-inner {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.feedback__bg {
  position: absolute;
  display: flex;
  z-index: -1;
}

@media (max-width: 768px) {
  .feedback {
    height: auto;
    gap: 40px;
  }

  .feedback__wrapper {
    gap: 32px;
    padding: 0px 40px;
  }

  .feedback__desc {
    padding: 0px 22px;
  }

  .feedback__contacts {
    padding: 0px 26.5px;
  }

  .feedback__title {
    color: var(--color-dark-gray);
  }

  .feedback__address {
    color: var(--color-dark-gray);
  }

  .feedback__contacts-title {
    color: var(--color-dark-gray);
  }

  .feedback__phones a {
    color: var(--color-dark-gray);
  }

  .feedback__bg {
    position: initial;
    width: 100%;
  }

  .feedback__bg img {
    width: 100%;
  }
}

@media (min-width: 320px) and (max-width: 425px) {
  .feedback {
    margin-top: 60px;
    gap: 24px;
  }

  .feedback__wrapper {
    gap: 40px;
    padding: 0px 26.5px;
  }

  .feedback__desc {
    gap: 12px;
    padding: 0px;
  }

  .feedback__title {
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
  }

  .feedback__address {
    font-weight: 400;
  }

  .feedback__phones a {
    font-weight: 400;
  }

  .feedback__contacts {
    gap: 24px;
    padding: 0px 34.5px;
  }
}

/* END */

/* MAP */
.map {
  max-width: 1280px;
  width: 100%;
  height: 464px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #c4c4c4;
  margin: 0 auto;
}

.map p {
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
/* END */

/* SEO */

.seo {
  margin-top: 100px;
  margin-bottom: 100px;
}

.seo__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    'seo-title seo-btn'
    'seo-text seo-text';
  row-gap: 40px;
  align-items: center;
}

.seo__title {
  grid-area: seo-title;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
}

.seo__text-wrapper {
  grid-area: seo-text;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.seo__text {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.seo__wrapper .tours__link {
  grid-area: seo-btn;
  justify-self: end;
}

.seo__text-wrapper-2 {
  display: flex;
  gap: 50px;
}

.seo__text-col {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.seo__text-col:nth-child(1) {
  max-width: 430px;
}

.seo__text-col:nth-child(2) {
  max-width: 416px;
  margin-top: 50px;
}

.seo__title-2 {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 150% */
}

.seo__list:nth-child(2) {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.seo__list li {
  list-style: inherit;
  list-style-position: inside;
}

@media (max-width: 768px) {
  .seo__wrapper {
    grid-template-columns: 1fr;
    grid-template-areas:
      'seo-title'
      'seo-text'
      'seo-btn';
    row-gap: 20px;
  }
  .seo__wrapper .tours__link {
    justify-self: start;
  }

  .seo__text-wrapper {
    gap: 16px;
  }

  .seo__text {
    font-size: 14px;
    line-height: 21px;
  }

  .seo__text-wrapper-2 {
    gap: 0px;
  }

  .seo__text-wrapper-2 .seo__text-col:nth-child(1) {
    position: absolute;
    transform: scale(0);
  }

  .seo__text-col:nth-child(2) {
    max-width: 100%;
    margin-top: 0px;
  }

  .seo__text-col {
    gap: 16px;
  }
}

@media (min-width: 320px) and (max-width: 425px) {
  .seo {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

/* END */

/* BREADCRUMBS */

.breadcrumbs {
  margin-top: 20px;
  margin-bottom: 40px;
}

.breadcrumbs-page {
  margin-top: 40px;
  margin-bottom: 60px;
}

.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  row-gap: 10px;
}

.breadcrumb > li {
  display: flex;
  align-items: center;
}

.breadcrumb > li + li:before {
  content: '';
  width: 20px;
  height: 20px;
  margin: 0px 16px;
  background: url('../images/icons/arrow_select.svg');
}

.breadcrumb__link {
  width: max-content;
  color: rgba(65, 65, 65, 0.3);
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  transition: color 0.3s ease-in;
}

.breadcrumb__link:hover:not(.breadcrumb__link--active) {
  color: var(--color-orange);
}

.breadcrumb__link:focus:not(.breadcrumb__link--active) {
  outline: none;
  color: #2e2e2e;
}

.breadcrumb__link--active {
  color: var(--color-orange);
}

@media (min-width: 320px) and (max-width: 425px) {
  .breadcrumbs {
    margin-top: 24px;
    margin-bottom: 32px;
  }

  .breadcrumbs-page {
    margin-top: 24px;
    margin-bottom: 32px;
  }

  .breadcrumb {
    position: relative;
    max-width: 280px;
  }

  .breadcrumbs-page .breadcrumb > li + li:before {
    margin: 0px 8px;
  }

  .breadcrumbs-page .breadcrumb li:nth-child(3)::before {
    position: absolute;
    top: 0;
    right: -8px;
  }

  .breadcrumb > li + li:before {
    margin: 0px 10px;
  }
}

/* -------- END -------- */

/* PROGRAMM */

.programm {
  margin-top: 100px;
}

.programm__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}

.programm__title {
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.programm__list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
}

.programm__list-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px 40px;
  border-radius: 13px;
  border: 1px solid rgba(65, 65, 65, 0.1);
  background: var(--color-white);
}

.programm__list-item:hover {
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.05);
}

.programm__list-item .btn-show__programm {
  padding: 4.5px 0px;
}

.programm__list-title {
  flex-shrink: 0;
  margin-right: 37px;
  font-weight: 500;
}

.programm__sublist {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.programm__sublist li:nth-child(1) {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 10px;
  font-weight: 500;
}

/* END */

@media (min-width: 320px) and (max-width: 425px) {
  .programm {
    margin-top: 60px;
  }

  .programm__title {
    font-size: 24px;
  }

  .programm__wrapper {
    gap: 24px;
  }

  .programm__list-item {
    padding: 24px 18px 24px 24px;
    flex-direction: column;
  }

  .programm__list-title {
    position: relative;
    margin-right: 0px;
    font-size: 20px;
  }

  .programm__list-item .btn-show__programm {
    position: absolute;
    right: 64px;
  }

  .programm__sublist {
    gap: 12px;
  }

  .programm__list {
    gap: 12px;
    font-size: 16px;
    line-height: 24px;
  }

  .programm__sublist li:nth-child(1) {
    gap: 12px;
    margin-top: 20px;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }
}

/* INCLUDES */

.includes {
  margin-top: 48px;
}

.includes__container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.includes__wrapper {
  padding: 40px 50px 40px 40px;
  border-radius: 13px;
  border: 1px solid rgba(65, 65, 65, 0.1);
  background: var(--color-white);
}

.includes__wrapper:hover {
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.05);
}

.includes__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}

.includes__title {
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.includes__list {
  max-width: 685px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.includes__list-item {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

.includes__list-item:nth-child(odd) img {
  margin-top: 3px;
}

.includes__list-item:nth-child(even) img {
  margin-top: 2px;
}

.includes__text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.includes__text-title {
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.includes__text {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.includes__description {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.includes__description-card {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.includes__text-message {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  text-transform: lowercase;
}

.includes__wrapper-order {
  display: flex;
  align-items: center;
  gap: 40px;
}

.includes__wrapper-order .tours__card-price {
  font-size: 36px;
}

@media (max-width: 768px) {
  .includes {
    margin-top: 100px;
  }

  .includes__wrapper {
    padding: 40px 30px 40px 40px;
  }
}

@media (max-width: 650px) {
  .includes__wrapper-order {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
  }

}

@media (min-width: 320px) and (max-width: 425px) {
  .includes {
    margin-top: 60px;
  }

  .includes__title {
    font-size: 24px;
  }

  .includes__content {
    gap: 24px;
  }

  .includes__text-title {
    font-size: 16px;
    line-height: 24px;
  }

  .includes__text {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
  }

  .includes__text-wrapper {
    gap: 8px;
  }

  .includes__list {
    gap: 12px;
  }

  .includes__wrapper {
    padding: 32px 15px 32px 32px;
  }

  .btn-second {
    max-width: 230px;
    width: 100%;
    height: 59px;
    padding: 0px;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.36px;
  }

  .includes__description-card {
    gap: 12px;
  }

  .includes__description {
    gap: 24px;
  }

  .includes__text-message {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
  }
}

/* END */

/* TOUR-PREVIEW */

.tour-page__slider {
  max-width: 1280px;
  height: 364px;
  margin-top: 28px;
}

.tour-page__slider .swiper-wrapper .swiper-slide {
  display: flex;
  width: max-content !important;
  cursor: pointer;
}

.tour-page__img {
  display: flex;
}

.tour-page__imgs {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.tour-preview__description {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.tour-preview__right {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.tour-preview__subtitle {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.48px;
  text-transform: uppercase;
  opacity: 0.3;
}

.tour-preview__title-wrapper {
  display: flex;
  gap: 63px;
}

.tour-preview__title {
  color: var(--color-orange);
  font-size: 48px;
  font-weight: 400;
  line-height: normal;
}

.tour-preview__text {
  max-width: 630px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.tour-preview__date {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  opacity: 0.5;
}

@media (max-width: 768px) {
  .tour-preview__title-wrapper {
    flex-direction: column;
    gap: 20px;
  }

  .tour-page__slider {
    height: 416px;
  }

  .tour-page__slider .preview__slider-nav {
    max-width: 100%;
  }

  .tour-page__slide {
    margin: 0 auto;
  }

  .tour-page__slider .swiper-wrapper {
    max-width: 664px;
  }

  .tour-page__slider .preview-slider__btn-next {
    right: 0 !important;
  }

  .tour-page__slider .preview-slider__btn-prev {
    left: 0 !important;
  }
}

@media (min-width: 320px) and (max-width: 425px) {
  .tour-page__slider {
    margin-top: 24px;
  }

  .tour-page__slider .swiper-wrapper .swiper-slide {
    width: inherit !important;
  }

  .tour-page__img {
    height: 364px;
  }

  .tour-preview__title-wrapper {
    gap: 12px;
  }

  .tour-preview__description {
    gap: 12px;
  }

  .tour-preview__title {
    font-size: 24px;
    font-weight: 500;
  }

  .tour-preview__text {
    font-size: 12px;
    line-height: 18px;
  }
}

/* END */
